<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .pagination {
            margin-top: 20px;
        }
        .pagination a {
            display: inline-block;
            padding: 5px 10px;
            margin-right: 5px;
            background-color: #0d6efd;
            border: 1px solid #ccc;
            border-radius: 10%;
            color: rgb(228, 228, 228);
            font-weight: 700;
            text-decoration: none;
            transition: background-color 0.2s ease, color 0.1s ease; /* Add transition for background-color and color */
        }

        .pagination a.active {
            background-color: #007bff;
            color: white;
        }

            /* Add hover effect for all pagination links */
        .pagination a:hover {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{phone_number}}</td>
                <td>{{createdAt}}</td>
                <td>{{updatedAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="pagination">
        {{#if totalPages}}
            {{#each pages}}
                {{#if active}}
                    <span>{{this.page}}</span>
                {{else}}
                    <a href="?page={{this.page}}">{{this.page}}</a>
                {{/if}}
            {{/each}}
        {{/if}}
    </div>
</body>
</html>
